 header{
    background-color: pink;
    color: black;
}
body{
    background-color: lightpink;
    color: black;
}

h1 { 
color: aqua;
}

p{
    color: blue;
}

ul {
    color: chartreuse;
}

footer{ 
background-color: aquamarine;
color: blueviolet;



}
